html {
  font-family: 'IBM Plex Sans JP', Roboto, sans-serif;
  font-size: 15px;
}

a,
a:visited,
a:hover {
  /* stylelint-disable-next-line custom-property-pattern */
  color: var(--v-v2-content-color);
}

ul {
  margin-block: 1em;
  margin-inline: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--light .color-responsive {
  color-scheme: light;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--dark .color-responsive {
  color-scheme: dark;
}
