@use '@/style/media';

html {
  font-family: 'IBM Plex Sans JP', Roboto, sans-serif;
  color: #1e1e1e;
  font-size: 100%;

  @include media.size(md) {
    font-size: 87.5%;
  }

  @include media.size(sm) {
    font-size: 75%;
  }
}

a,
a:visited,
a:hover {
  color: inherit;
}

ul {
  margin-block: 1em;
  margin-inline: 1rem;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--light .color-responsive {
  color-scheme: light;
}

/* stylelint-disable-next-line selector-class-pattern */
.v-theme--dark .color-responsive {
  color-scheme: dark;
}
